
.wrapper {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    margin-left: 100px;
    margin-right: 50px;
}

.product-container img {
    width: auto;
    max-width: 600px;
    height: 500px;
    border-radius: 25px;
}

.wrapper > div {
    margin: 6px;
}

.link {
    position: relative;
    top: 10%;
    font-size: 20px;
    text-decoration: none;
    color: #7B74E0;
}

.description {
    padding: 10px;
    border: 2px black solid;
    border-radius: 10px;
    margin-bottom: 20px;

    max-width: 160px;
}

.filtros {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ads {
    width: 180px;
    height: 600px;
}

.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 19px 37px;

    border: 3px black solid ;
    border-radius: 10px;
}

.toggle-button {
    padding: 0px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}