
table {
    table-layout: fixed;
    border-collapse: collapse;
    /* border: 2px solid; */
    border-radius: 10px;
    padding: 3px;
    font-size: 16px;
}

.table-rating {
    size: 10px;
}

.shop-row:hover {
    cursor: pointer;
    transform:scale(105%);
    transition: 0.5s;
}

th {
    width: 150px;
    height: 50px;
}

th:first-child {
    width: 50px;
}
th:last-child {
    width: 100px;
}

td:nth-child(2) {
    text-align: left;
}
td:last-child {
    text-align: right;
}

td {
    border-top: 1px solid black;
    height: 60px;
}
 
th, td{
    text-align: center;
    vertical-align: middle;
}